
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 65.5%;
}

body{
    font-size: 1.6rem;
    font-family: "poppins" , sans-serif;
    background-color: rgb(230, 230, 240);
}

main{
    max-width: 1024px;
    margin: auto;
    padding: 32px 0;
   
    
}

.input{
    border: 1px solid rgb(230, 230, 240);
    border-radius: 4px;
    font-size: 1.6rem;
    color: #7f7f7f;
    outline: none;
    padding: 21px 40px;
    width: 400px;
    text-align: center;
  
}

.button{
    border-radius: 4px;
    font-size: 1.8rem;
    color: #ffff;
    border: 0;
    padding: 18px 32px;
    background-color: #1d4ffe;
   
}

.button:hover {
    background-color: #f75206;
}