
.header-warning{
    background-color: rgb(34, 32, 32);
    color: #ffff;
    padding: 16px 0;
    text-align: center;
    
}

.header-warning span{
    font-weight: bold;

}

.header-warning .dekstop{
    display: none;
}

header{
    background-color: rgb(245, 213, 245);
}

header .header-main {
    max-width: 1024px;
    margin: auto;
    padding: 33px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;

}

.header-left .logo4{
    margin-right: 40px;

}
.header-left ul{
    display: none;
    gap: 40px;
}

.header-left li a{
    text-decoration: none;
    color: rgb(87, 84, 121);
    font-weight: bold;
}

.header-left li a:hover{
    color: rgb(245, 53, 53);
    
}


.header-right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-right .seach{
    display: none;
}

.btn-icon{
    width: 48px;
    height: 48px;
    border: 1px solid #c0b3b3;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon:hover{
    background-color: rgb(221, 218, 221);
}

.header-warning .dekstop{
    display: none;
}

/* sa a se pou li afiche sou gran ekran mwnen ap byen pase la a */

@media (width > 714px){         
    .header-warning .desktop{
        display: block;
    }

    .header-warning .mobile{
        display: none;
    }

    .header-left ul{
        display: block;
    }

   
}
/* sa a se pou li afiche sou gran ekran mwnen ap byen pase la a */

@media (width > 1024px) {
    .header-right ul{
        display: flex;
    }
    .header-right .menu-burger{
        display: none;

    }
    
}

